.container {
  width: 250px;
  height: 100%;
  padding: 10px;
  border-right: 2px solid #e4e4e4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.radio-button {
  margin: 5px;
}

.checkbox {
  margin: 5px;
}

.textarea {
  width: 95%;
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 5px;
  margin-bottom: 10px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
}
