<div class="container">
  <h2 style="margin: 0 0 5px;">Main Settings</h2>

  <mat-tab-group (selectedIndexChange)="onSettingsChange('editor', $event === 0 ? 'editor' : 'diffEditor')">
    <!-- Editor -->
    <mat-tab label="Editor">
      <label>Language</label>
      <mat-radio-group class="radio-group" [ngModel]="settings.language" (ngModelChange)="onSettingsChange('language', $event)">
        <mat-radio-button class="radio-button" *ngFor="let language of languages" [value]="language.value">
          {{ language.label }}
        </mat-radio-button>
      </mat-radio-group>

      <label>Model</label>
      <textarea
        rows="10"
        [ngModel]="model"
        (ngModelChange)="onModelChange($event)"
        (focus)="isTextareaInFocus = true"
        (blur)="isTextareaInFocus = false"
        class="textarea"
      ></textarea>

      <mat-checkbox class="checkbox" [ngModel]="settings.enableDebugging" (ngModelChange)="onSettingsChange('enableDebugging', $event)">
        Enable Debugging
      </mat-checkbox>

      <h2 style="margin: 10px 0 5px;">JS Settings</h2>
      <mat-checkbox
        class="checkbox"
        [disabled]="settings.language !== 'javascript'"
        [ngModel]="settings.useJsHint"
        (ngModelChange)="onSettingsChange('useJsHint', $event)"
      >
        Use JS Hint
      </mat-checkbox>

      <label>Extra Libs</label>
      <textarea rows="5" [(ngModel)]="extraLib" class="textarea"></textarea>
      <button mat-raised-button (click)="addExtraLib()">Add</button>
      <mat-form-field appearance="fill">
        <mat-label>Extra Libs</mat-label>
        <mat-select [(ngModel)]="extraLibToDelete">
          <mat-option *ngFor="let lib of addedExtraLibs" [value]="lib">
            {{ lib }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="removeExtraLib()">Remove</button>
    </mat-tab>

    <!-- Diff Editor -->
    <mat-tab label="Diff Editor">
      <label>TODO</label>
    </mat-tab>
  </mat-tab-group>
</div>
