<div class="container">
  <h2>Settings</h2>

  <label>Editor</label>
  <mat-radio-group class="radio-group" [ngModel]="settings.editor" (ngModelChange)="onSettingsChange('editor', $event)">
    <mat-radio-button class="radio-button" value="editor">
      Editor
    </mat-radio-button>
    <mat-radio-button class="radio-button" value="diffEditor">
      Diff-Editor
    </mat-radio-button>
  </mat-radio-group>

  <label>Language</label>
  <mat-radio-group
    class="radio-group"
    [disabled]="settings.editor === 'diffEditor'"
    [ngModel]="settings.language"
    (ngModelChange)="onSettingsChange('language', $event)"
  >
    <mat-radio-button class="radio-button" *ngFor="let language of languages" [value]="language.value">
      {{ language.label }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-checkbox
    class="checkbox"
    [disabled]="settings.editor === 'diffEditor' || settings.language !== 'javascript'"
    [ngModel]="settings.useJsHint"
    (ngModelChange)="onSettingsChange('useJsHint', $event)"
  >
    Use JS Hint
  </mat-checkbox>

  <br />

  <label>Model</label>
  <textarea
    rows="10"
    style="width: 100%;"
    [ngModel]="model"
    (ngModelChange)="onModelChange($event)"
    (focus)="isTextareaInFocus = true"
    (blur)="isTextareaInFocus = false"
  ></textarea>
</div>
