<mat-toolbar color="primary">
  <span>Angular Monaco</span>
</mat-toolbar>

<div class="container">
  <!-- Settings side panel -->
  <app-settings [model]="model" (settingsChange)="onSettingsChange($event)" (modelChange)="model = $event"></app-settings>

  <!-- Code editor -->
  <app-editor
    class="editor"
    *ngIf="editorType === 'editor'"
    [model]="model"
    [options]="options"
    [monacoOptions]="monacoOptions"
    (modelChange)="model = $event"
  ></app-editor>
  <app-diff-editor class="editor" *ngIf="editorType === 'diffEditor'"></app-diff-editor>
</div>
